@model IEnumerable<Bookstore.Models.Author>

@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

@foreach (var item in Model)
{
    @Html.ActionLink(item.Name, "ByAuthor", "Books", new { role = item.Name }, null) <br />
}
