@model Bookstore.Models.Book

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<div class="container">
    <div class="row " style="height:75vh;">
        <div class="col-lg-3 pt-5 bg-primary" style="height:50%;"></div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ISBN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
