@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
<!-- TODO: STYLE THE HEADER BETTER -->

    <h1 class="text-center mt-0" style="font-family:'Abril Fatface'"><b>Featured Titles</b></h1> <br/>
    <div class="row">

<!-- TODO: MAKE THESE LINKS -->
<!-- TODO: GET THE IMAGE URLs FROM THE DATABASE: NOT HARD-CODED -->

        <div class="col-xs-3">
            <a href="#">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781409176909.PNG" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9780571334650.PNG" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781509858637.PNG" />
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#">
                <img class="hvr-grow-shadow" style="width:100%; height:100%" src="~/Images/9781781257937.PNG" />
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 bg-danger">
        <div class="row">
            <div class="col-xs-2 bg-dark">
                X
            </div>
            <div class="col-xs-2 bg-dark">
                X
            </div>
            <div class="col-xs-2 bg-dark">
                X
            </div>
            <div class="col-xs-2 bg-dark">
                X
            </div>
            <div class="col-xs-2 bg-dark">
                X
            </div>
            <div class="col-xs-2 bg-dark">
                XA
            </div>
        </div>
    </div>
</div>