/* SHARED */
.Books-IndexPaged,
.Books-Index {
    padding-top: 0;
}

    .Books-IndexPaged .PageBody,
    .Books-Index .PageBody {
        padding: 0 2rem 0 2rem;
    }

/* [HOME-INDEX] */
.Home-Index > .PageHead {
    margin: 0rem 2rem 0rem 2rem;
    padding: 1rem 0rem 0.5rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
    background-image: url(../Images/featured.jpg);
    background-position: center;
    background-size: cover;
}

/* FeaturedTitles */
.FeaturedTitles {
    margin: 2rem 2rem 2rem 2rem;
}

    .FeaturedTitles .BookCover {
        box-shadow: rgbA(0,0,0,0.8) 0.3rem 0.5em;
    }

/* SectionsByGenre */
.SectionByGenre {
    padding: 2rem 2rem 2rem 2rem;
}
    .SectionByGenre .SectionHead {
        padding: 1rem 1rem 0.5rem 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
    }
    .SectionByGenre .Header,
    .OtherGenres .Header,
    .FeaturedTitles .Header {
        font-weight: 700;
    }

.Card {
    box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
}

/*OtherGenres*/
.OthersRow {
    padding-left: 2rem;
}

.OtherGenres .SectionHead {
    margin: 0 2rem 1.5rem 2rem;
    padding: 1rem 0rem 0.5rem 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
    background-image: url(../Images/others.jpg);
    background-position: center;
    background-size: cover;
}

.OtherGenres .Header {
    margin-top: 2rem;
    padding-left: 2rem;
}

.OtherGenreLink:hover {
    text-decoration: none;
}

.OtherGenre {
    height: 10rem;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
}
    .OtherGenre h3 {
        color: #f9f9f9;
        display: block;
        align-self: center;
        justify-self: center;
    }


/*[BOOKS-INDEX] and [BOOKS-INDEXPAGED]*/

.PageHead {
    margin: 0rem 2rem 0rem 2rem;
    padding: 1rem 0rem 1rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
    background-image: url(../Images/featured.jpg);
    background-position: center;
    background-size: cover;
}

/* GENRE-SPECIFIC */
.busin {
    background-image: url(../Images/business.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem 2rem 1.5rem 2rem;
}

.crime {
    background-image: url(../Images/crime.jpg);
    background-position: center;
    background-size: cover;
}

.philo {
    background-image: url(../Images/philosophy.jpg);
    background-position: center;
    background-size: cover;
}

.psych {
    background-image: url(../Images/psychology.jpg);
    background-position: center;
    background-size: cover;
}

.fanta {
    background-image: url(../Images/fantasy.jpg);
    background-position: center;
    background-size: cover;
}

.healt {
    background-image: url(../Images/health.jpg);
    background-position: center;
    background-size: cover;
}

.roman {
    background-image: url(../Images/romance.jpg);
    background-position: center;
    background-size: cover;
}

.self- {
    background-image: url(../Images/self-help.jpg);
    background-position: center;
    background-size: cover;
}

/* [GENRES/INDEX] */
.GenresIndex .Genre {
    height: 10rem;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: rgbA(0,0,0,0.8) 0.2rem 0.4em;
}
    .GenresIndex .Genre {
        color: #f9f9f9;
        display: block;
        align-self: center;
        justify-self: center;
    }

/*NAVIGATION*/
.Navigation {
    padding: 1rem 3rem; 
    transition-duration: 0.5s;
    background: rgba(255,255,255,0.8);
}

.navbar-nav > h4 {
    padding: 0;
    margin: 0;
}

.nav-item:hover {
    background-color: rgbA(0,0,0,0.15);
    transition-duration: 1s;
}

.nav-item.active {
    background-color: rgbA(0,0,0,0.4);
}


/* GENERAL */
body {
    padding-bottom: 20px;
    background-image: url(../Images/background.jpg);
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.Render {
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.1);
    padding-top: 7.5rem;
    margin-top: 0;
    min-height: 90vh;
    transition-duration: 0.5s;
}


.SearchBar {
    margin-right: 2rem;
}

.Map {
    font-family: Merriweather, cursive;
}

h1 {
    font-family: Merriweather, cursive;
    font-weight: bold;
}

h2,h3,h4,h5 {
    font-family: Merriweather, cursive;
    color:black;
}

#otherGenres {
    font-family: Merriweather, cursive;
}

.navbar-brand,
.navbar-nav {
    font-family: Merriweather, cursive;
}



input,
select,
textarea {
    max-width: 280px;
}

/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('Fonts/merriweather-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url('Fonts/merriweather-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Fonts/merriweather-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('Fonts/merriweather-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('Fonts/merriweather-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Fonts/merriweather-v21-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('Fonts/merriweather-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Bold'), local('Merriweather-Bold'), url('Fonts/merriweather-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Fonts/merriweather-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('Fonts/merriweather-v21-latin-700.woff') format('woff'), /* Modern Browsers */
    url('Fonts/merriweather-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Fonts/merriweather-v21-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: url('Fonts/merriweather-v21-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Black'), local('Merriweather-Black'), url('Fonts/merriweather-v21-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Fonts/merriweather-v21-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('Fonts/merriweather-v21-latin-900.woff') format('woff'), /* Modern Browsers */
    url('Fonts/merriweather-v21-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Fonts/merriweather-v21-latin-900.svg#Merriweather') format('svg'); /* Legacy iOS */
}
